<app-admin-header></app-admin-header>
<app-admin-sidebar>
  <div class="portlet light bordered">
    <div class="portlet-title">
      <div class="caption">
        <i class="icon-bar-chart font-green-haze"></i>
        <span class="caption-subject bold uppercase font-green-haze">Category</span>
      </div>
    </div>
    <div class="portlet-body">
      <table class="table table-bordered">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Top Category</th>
          <th>Picture</th>
          <th></th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</app-admin-sidebar>
<app-admin-footer></app-admin-footer>

