<div class="portlet light bordered">
  <div class="portlet-title">
    <div class="caption">
      <i class="icon-bar-chart font-green-haze"></i>
      <span class="caption-subject bold uppercase font-green-haze">Top Category</span>
    </div>
  </div>
  <div class="portlet-body">
    <div class="form-horizontal">
      <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="" class="col-md-3 control-label">Name</label>
          <div class="col-md-9">
            <input type="text"  class="form-control" formControlName="name">
            <div *ngIf="formErrors.name" class="alert alert-danger">
              {{ formErrors.name }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="" class="col-md-3"></label>
          <div class="col-md-9">
            <input type="submit" value="Create" class="btn btn-primary" [disabled]="!createForm.valid">
            <a [routerLink]="['../']" class="btn btn-default">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
