doctype html
html(lang='en',class="no-js")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        title= title
        base(href="/")
        include style
    body(class="ecommerce")
        block content
        include script
        script.
            System.import('app');
