script(src='./node_modules/core-js/client/shim.min.js')
script(src='./node_modules/zone.js/dist/zone.js')
script(src='./node_modules/reflect-metadata/Reflect.js')
script(src='./node_modules/systemjs/dist/system.src.js')
// 2. Configure SystemJS
script(src='./systemjs.config.js')

//3. Configure another library
script(src='Content/assets/plugins/jquery.min.js')
//script(src='Content/js/jquery.validate.min.js')
//script(src='Content/js/jquery.validate.unobtrusive.min.js')
//script(src='Content/js/jquery.unobtrusive-ajax.min.js')
//script(src='Content/assets/plugins/jquery-migrate.min.js')
script(src='Content/assets/plugins/bootstrap/js/bootstrap.min.js')
script(src='Content/assets/corporate/scripts/back-to-top.js')
script(src='Content/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js')
//script(src='Content/assets/plugins/fancybox/source/jquery.fancybox.pack.js')
script(src='Content/assets/plugins/owl.carousel/owl.carousel.min.js')
script(src='Content/assets/plugins/zoom/jquery.zoom.min.js')
script(src='Content/assets/plugins/bootstrap-touchspin/bootstrap.touchspin.js')
script(src='Content/assets/corporate/scripts/layout.js')
script(src='Content/assets/pages/scripts/bs-carousel.js')
script(src='Content/assets/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js')
script(src='Content/assets/plugins/rateit/src/jquery.rateit.js')
script(src='Content/assets/plugins/uniform/jquery.uniform.min.js')
script(src='Content/assets/plugins/jquery.tmpl/jquery.tmpl.min.js')
script(src='Content/assets/plugins/icheck/icheck.js')
script(src='Content/assets/plugins/bootstrap-fileinput/bootstrap-fileinput.js')
script(src='Content/assets/plugins/jQCloud/dist/jqcloud.js')

//END CORE
//script(src='Content/js/app.js')
script(src='Content/assets/js/shoppingCart.js')
script(src='Content/assets/js/portfolio-3.js')
